[2016-02-27 23:25] bcalik opened #1 "Build Failed"
I get the following error. Why it does not search `xwalk_core_library-16.45.421.19.aar` file in `node_modules`?

[code]

[2016-02-27 23:39] jordaaash commented on #1
Thanks for checking this out! This project is pre-alpha status and for personal use. The API will be subject to breaking changes, the project is not well-documented yet, and there is little support provided. **Use at your own risk.** That said, here are a few notes that may help you:

You first need to run `crosswalk.sh` -- but it should be run automatically for you on postinstall of this project.

[2016-02-28 01:13] bcalik commented on #1
Thanks, you should write these to readme file.

Now it fails for another issue:

[code]

Here is my MainActivity file:

[code]

[2016-02-28 01:17] jordaaash commented on #1
Pull requests encouraged.

[code]

Try:

[code]

[2016-02-28 01:32] bcalik commented on #1
Thanks, build completed.

The problem is, it exits my app and opens the url in my web browser instead. So it does not work at all.
Here is my usage:

[code]

[2016-02-28 02:00] jordaaash commented on #1
As I mentioned:

What that means is that it's designed to work for my personal needs, not all needs for a webview.

The error you're experiencing is because this is not designed to load from the internet, but from localhost, using a server running on the device. I use [koush/AndroidAsync](https://github.com/koush/AndroidAsync).

The behavior you're seeing is due to this method, which is part of Cr

[2016-02-28 02:01] bcalik commented on #1
Oh I understand now. Thank you very much for your interest.

[2016-02-28 02:03] jordaaash commented on #1
No problem. I should also note: this project is only a few days old. I literally wrote the code last weekend, and the Java code in this library currently adds up to under 250 lines. Try to dig around, as what the library is doing is very simplistic in nature.

[2016-03-03 11:57] #1 closed

[2016-03-03 12:05] jordaaash commented on #1
I've updated the documentation. Additionally, the behavior you're looking for is now the default.

[code]

There is a new `localhost` prop which defaults to `false`. You can use the prior behavior by flipping the prop, which overrides any URL off localhost with an external Intent.

[code]

[2016-03-03 12:10] jordaaash commented on #1
v.0.0.7 includes another breaking change, most notably that `RNCrosswalkWebview` is now just `CrosswalkWebView`.

[2016-03-20 18:15] alvatar opened #3 "Should update version to new XWalk"

[2016-03-20 21:49] #3 closed

[2016-03-21 15:29] alvatar commented on #3
Thanks!

[2016-04-15 14:44] grovertb opened #4 "read html from cellphone memory"
Hello , you can read html from cellphone memory  ?

[2016-05-04 20:03] jordaaash commented on #4
Since you emailed me about this, I'll copy my response here for posterity:

---

There are various issues with reading files directly from the device, some of them with no real workaround. The way I do it, and the way that I believe is generally recommended, is to use a small HTTP server on the device. I use https://github.com/koush/AndroidAsync which is quite easy to set up.

The general idea is

[2016-05-05 16:52] jayshah123 opened #7 "Destroy webview and cleanup when native viewInstance is dropped."
In my case webview code was running (I was hearing media) even when Webview was unmounted.

Override onDropViewinstance to call onDestroy for XWalkView. and similar when app is destroyed.
Refer to original WebView implementation of React-Native.

[2016-05-05 18:53] jordaaash commented on #7
Definitely sounds like a bug! Want to share or PR the code you use to fix this?

[2016-05-05 18:59] jayshah123 commented on #7
Okay, will submit a PR after testing properly.

[2016-05-13 04:29] app2one opened #8 "URL opened in Chrome instead of CrosswalkWebView"
As subject.  Code below.

-------- index.android.js --------
[code]
-----------------------

------------ webview.js ----------------
[code]
-------------------------------

[2016-05-13 22:12] tom-s commented on #8
Got the same probleme here, any idea ?

[2016-06-01 22:18] jordaaash commented on #4
I believe this was closed by #10. Feel free to reopen if not :)

[2016-06-01 22:18] #4 closed

[2016-06-01 22:28] jordaaash commented on #8
This is because you have `localhost={ true }`. The `localhost` prop is for serving only pages on localhost (using a web server on the device). Set to `localhost={ false }` (or just remove the prop, since it defaults to `false`) to disable this. Then any http/https/file URLs will open in the WebView.

[2016-06-02 06:32] tom-s commented on #8
I tried with localhost = {false} and had the same issue

[2016-06-02 09:00] timofischer81 opened #13 "cannot install on windows 10"
npm ERR! Windows_NT 10.0.10586
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "install" "react-native-web
view-crosswalk" "--save"
npm ERR! node v4.4.0
npm ERR! npm  v3.8.3
npm ERR! code ELIFECYCLE

npm ERR! react-native-webview-crosswalk@0.1.0 postinstall: `./crosswalk.sh`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the r

[2016-06-02 15:26] timofischer81 opened #14 "doesn't work with react native 0.26"
due to separation of react and react native: [release notes](https://github.com/facebook/react-native/releases/tag/v0.25.1)

I am not sure how to disentangle these imports accordingly:

[code]

[2016-06-03 19:35] zaynyatyi commented on #7
Looks like it works fine. Thanks.

[2016-06-03 21:02] jordaaash commented on #8
I edited the above code snippets to show formatting so I can better see what's going on. @tom-s are you using @app2one's code above, or is yours different? If so, can you share yours so I can try to figure this out?

[2016-06-03 21:24] jordaaash commented on #14
Edited above for code formatting. Based on [this](https://github.com/facebook/react-native/releases/tag/v0.25.1) it looks like the following might work:

[code]

Can you confirm if this works for you?

[2016-06-04 13:32] tom-s commented on #8
My bad I tried a couple of months ago and it didn't work. I've set up a new project and tried again it now works !

You can happily close this issue.

[2016-06-04 13:56] tom-s commented on #14
This works :
import React, { Component } from 'react';
import { AppRegistry, StyleSheet, NativeModules, requireNativeComponent, View } from 'react-native';
var { UIManager, CrosswalkWebViewManager: { JSNavigationScheme } } = NativeModules;

[2016-06-04 14:57] timofischer81 commented on #14
;) this works, thanks to @zaynyatyi:
import React, { PropTypes } from 'react';
import ReactNative, { requireNativeComponent, View, StyleSheet } from 'react-native';

var {
    addons: { PureRenderMixin },
    NativeModules: { UIManager, CrosswalkWebViewManager: { JSNavigationScheme } }
} = ReactNative;

[2016-06-04 15:12] tom-s opened #15 "Crosswalk View within View"
Hi,

I'm trying to put my crosswalk view within a normal react view.
If i do this i get nothing instead of where the crosswalk view should show.

I'm doing the following

[code]
But if i get rid of the View and just use my crasswalk web view, it works. Any idea on what i'm doing wrong ?

[2016-06-04 15:22] timofischer81 commented on #15
Hi Tom, changing `<View>` to `<View style={{ flex: 1 }}>` solved this for me.

[2016-06-04 15:31] tom-s commented on #15
Brilliant, thanks @timofischer81  !

[2016-06-04 15:31] #15 closed

[2016-06-04 15:48] timofischer81 opened #16 "cannot reload and navigate"
I try to implement a reload button but I get the error "undefined is not a function (evaluating '_react2.default.findNodeHandle(this.refs[WEBVIEW_REF])') when hitting it. What am I doing wrong? Thanks!
[code]

[2016-06-04 18:25] jordaaash commented on #8
Ah, okay. Glad it worked for you!

[2016-06-04 18:25] #8 closed

[2016-06-04 18:32] jordaaash commented on #16
This might be related to @ruqqq's fix here: https://github.com/ruqqq/react-native-webview-crosswalk/commit/71fb00efb50dc10de440941c03e1949e2165bb1e

Can anyone confirm?

[2016-06-04 18:36] jordaaash commented on #14
This is a breaking change from React Native < 0.25, I think, so I'll need to update the package.json as well as the code you provided above and release. I'll also happy accept a PR for that if you want!

[2016-06-04 19:17] timofischer81 commented on #16
I get the same error if I apply that fix.

[2016-06-04 19:27] timofischer81 commented on #14
@jordansexton: you only have to substitute the old two lines, no change in package.json needed. @zaynyatyi already prepared a PR "cleaned up deprecated warnings. Source parameter added. #12"

[2016-06-04 21:06] jordaaash commented on #14
Unfortunately that PR has a bunch of unrelated commits included now, not all of which I would necessarily accept. For example, b0bae312a15e97e7949bc4bd57365f36a4fe2d64 is for Windows support. Generally speaking, I'd rather it works by default on OSX and Linux environments, and document the issue for Windows, but I'd be open to more nuanced solutions.

Even the commit in question to fix the warning

[2016-06-04 21:08] jordaaash commented on #14
@zaynyatyi if you're able to break up that commit into the fix for the React Native deprecation in this issue so I can accept a PR for that and preserve your contribution, please let me know!

[2016-06-04 21:12] jordaaash commented on #13
Related to b0bae312a15e97e7949bc4bd57365f36a4fe2d64

See https://github.com/jordansexton/react-native-webview-crosswalk/issues/14#issuecomment-223778367 for discussion. Any ideas on how to resolve this short of just removing the postinstall script? Maybe we can fix the path when executing the shell script.

[2016-06-04 21:13] #7 closed

[2016-06-04 21:14] jordaaash commented on #7
Thanks for testing @zaynyatyi!

[2016-06-04 21:27] jordaaash commented on #16
Looking into this further.

[2016-06-05 15:26] timofischer81 commented on #13
I'll look into it. I agree though that you can leave it as it is as it works for the most important plattforms.

[2016-06-08 00:47] FrickenHamster commented on #14
Hey,
this PR #17 has only the commit changing the imports, if you want to merge a clean PR.

Thanks

[2016-06-08 10:06] zaynyatyi commented on #14
I will move it to the node script soon so it will be fully crossplatform. Or will break it up into simpler ones next week.

[2016-06-09 22:09] jordaaash commented on #14
Closed by #17. Thanks @FrickenHamster for the PR and everyone else for the discussion! I'll cut a release with this now.

[2016-06-09 22:09] #14 closed

[2016-06-09 22:30] jordaaash commented on #14
@timofischer81 @tom-s Can you confirm if [0.2.1](https://github.com/jordansexton/react-native-webview-crosswalk/releases/tag/v0.2.1) fixes all this for you? I tried to be as lenient as possible with the React version within [what's allowed by React Native 0.25.0](https://github.com/facebook/react-native/blob/v0.25.0/package.json#L129) but I haven't tested any of this.

[2016-06-10 20:30] FrickenHamster opened #18 "Crosswalk upgrade doesn't change the version in build.gradle"
In this repo,
`compile (name: "xwalk_core_library-17.46.448.10", ext: "aar")`

in build.gradle isn't updated.
I think it should be verison 18 since my thingy doesn't build without this line changed.
If this is a bug, I could make a PR for it.

[2016-06-10 20:57] #18 closed

[2016-06-10 20:59] jordaaash commented on #18
Definitely a bug, good catch! I missed it somehow.

Cut [0.2.2](https://github.com/jordansexton/react-native-webview-crosswalk/releases/tag/v0.2.2) which includes a fix for allowing any version of React Native that is depended upon.

[2016-06-10 21:00] jordaaash commented on #14
Updated to [0.2.2](https://github.com/jordansexton/react-native-webview-crosswalk/releases/tag/v0.2.1) which has a fix for the build.gradle file to allow any version of React Native to be loaded.

[2016-07-07 22:53] mcconkiee opened #22 "Can not implement with react-native 0.29.0 - new app template structure"
Apparently react-native 0.29.0 requires that we no longer pass `this` to the constructor :

https://github.com/facebook/react-native/releases/tag/v0.29.0

The dependency is now initiated in a `MainApplication.java` file. Ugh.

[2016-07-18 15:18] tom-s commented on #22
Same probleme here, any solution ?

[2016-07-18 17:54] PranayJuneCS opened #25 "Resolve Asset Source Import does not work in some cases"
#23 has a description, example, and bug fix.

[2016-07-18 19:47] jordaaash commented on #22
I haven't upgraded to RN 0.29 yet, so I'm not familiar with the issue yet. Does this mean that `CrosswalkWebViewPackage` just needs to extend `ReactContextBaseJavaModule`, and instead of calling `new CrosswalkWebViewPackage(this)` as specified in the readme, you'd call `new CrosswalkWebViewPackage()`, and `createViewManagers` in `CrosswalkWebViewPackage` needs to call `getCurrentActivity` and pass

[2016-07-18 22:28] jordaaash commented on #25
Closed by #23

[2016-07-18 22:28] #25 closed

[2016-07-24 23:16] tom-s commented on #22
I think that's pretty much the idea. I've tried on my side but couldn't achieve it as I'm not expert in Java and I could'nt make CrosswalkWebViewPackage extend ReactContextBaseJavaModule as it then seemed to require different constructor arguments.

I anybody knows how to achieve this, I'm very interested ^^

[2016-07-25 08:55] talentjiang commented on #22
I got the same problem，expect to upgrade to 0.29.

[2016-08-04 19:55] jayshah123 commented on #22
main points about 0.29 : discouraging passing of activities in constructors, recommended way to access activities in Modules is getCurrentActivity(), and viewmanagers cannot access activity, although a public api landed in reactContext giving access to currentActivity in 0.31rc
https://github.com/facebook/react-native/commit/760656461197605ee26769ed73989f78e4753038

detailed perspective : https://

[2016-08-15 22:27] jordaaash commented on #22
Pending #26 to fix this, thanks to @zaynyatyi

I'll review it tonight and hopefully be able to close this issue. Any thoughts from anyone on it?

[2016-08-24 09:36] devken-net commented on #13
I do have same error here. Is this resolved already??

Thanks! :)

[2016-08-24 17:46] jordaaash commented on #13
@markortiz This is likely fixed by https://github.com/jordansexton/react-native-webview-crosswalk/pull/26/commits/cc6ed7652dc43150c0f36c9476ccfe99e9c6333f (part of #26, which I just merged). I will release shortly.

[2016-08-24 17:46] #13 closed

[2016-08-24 18:19] jordaaash commented on #22
Closed by #26, released in [0.3.0](https://github.com/jordansexton/react-native-webview-crosswalk/releases/tag/v0.3.0). Thanks!

[2016-08-24 18:19] #22 closed

[2016-08-25 02:20] devken-net commented on #13
cool! thanks @jordansexton

[2016-08-25 05:10] jordaaash commented on #13
No problem. Thanks to @zaynyatyi for the comprehensive PR!

[2016-08-25 07:44] markortiz opened #27 "Build Failed"
when I try to run `react-native run-android`

the build was failed and returning this error

[code]

cureently using `react-native 0.31.0`

[2016-08-25 07:49] jordaaash commented on #27
Checking with @zaynyatyi for his input. The method of activity reference changed in #26 due to changes in RN 0.29.0, but I haven't tested the latest release.

[2016-08-25 08:06] devken-net commented on #27
It happened again when I downgrade to RN 0.29.0

[2016-08-25 08:11] jordaaash commented on #27
Right, okay. I don't think that it's a problem with RN 0.31.0 or your configuration. I'm guessing that it's an issue introduced in d8214664a768df936b726790cde943db9ade5efd or 1fbef2bb17661d3f407a4c9a92a08cce60dd6a61, but I'm hoping @zaynyatyi can weigh in. I'm not using the latest versions of RN, so I haven't looked at how the source has changed enough to know.

[2016-08-25 08:30] zaynyatyi commented on #27
I will check it on weekend, currently i'm using it with RN 0.31 and it works well. I had something similar and it was solved after react-native module folder removement manually and reinstalling react-native module again.

[2016-08-25 08:31] jordaaash commented on #27
Thanks @zaynyatyi. I'm sorry I'm not more help on this right now!

[2016-08-25 08:39] zaynyatyi commented on #27
@jordansexton np. @markortiz can you paste your `npm list`?

[2016-08-25 10:39] devken-net commented on #27
@zaynyatyi  so far this is my dependencies (`npm list` is too long,  it was cut on windows console)

[code]

I tried to delete manually the whole `node_modules` directory then I `npm install` it again.
And I got same error again.

[2016-08-26 04:02] devken-net commented on #27
@jordansexton  @zaynyatyi is there any difference if I put `new CrosswalkWebViewPackage(this)` in `MainApplication.java` rather than `MainActivity.java`

[code]

[2016-08-26 04:10] devken-net commented on #27
@jordansexton  @zaynyatyi I create a new blank project with

[code]

and I still got the same error.

can you create a simple example project?

Thank you very much! :)

[2016-08-26 10:21] zaynyatyi commented on #27
@markortiz yeah, i will provide simple example project. On new react Crosswalk should be put in MainApplication, not MainActivity. We have to mention it in readme, but i think rnpm integration will be better.

[2016-08-26 10:46] devken-net commented on #27
Thank you @zaynyatyi.
I also try `rnpm` and it did not integrate even it did not return any error.

[2016-08-26 10:47] zaynyatyi commented on #27
yeah, we have to define some rules for it i suppose.

[2016-08-30 03:40] devken-net commented on #27
@zaynyatyi is there any news about this?
I tried to worked with the lower version of RN 0.28 but I cannot proceed because of the issue #13
Thank you very much.

[2016-08-30 09:08] zaynyatyi commented on #27
@markortiz i just compiled it. I will prepare fork, can you give it a try?

[2016-08-30 09:10] devken-net commented on #27
@zaynyatyi  yes, just give me the instructions
Thanks!

[2016-08-30 09:22] zaynyatyi commented on #27
Ok, your files should be like that ones.
Instead of using MainActivity to add crosswalk use MainApplication
https://gist.github.com/zaynyatyi/59190488de20c2cbdc506cd10cfe4454

[2016-08-30 10:37] zaynyatyi commented on #27
@markortiz write me about your progress on that branch, maybe we will have more tests on that on Windows.

[2016-08-30 10:52] devken-net commented on #27
@zaynyatyi still working on it.

However while I'm trying to run it. I forgot to copy `xwalk_core_library-18.48.477.13.aar` to `node_modules/react-native-webview-crosswalk/libs`

and I got this error:

[code]

is this normal?

[2016-08-30 10:56] zaynyatyi commented on #27
have you copied aar file?

[2016-08-30 10:56] zaynyatyi commented on #27
If you didn't copied it - it's normal :)

[2016-08-30 10:57] zaynyatyi commented on #27
you have to copy from `node_modules/react-native-webview-crosswalk/libs`to android libs folder, just like instructions said.

[2016-08-30 10:57] devken-net commented on #27
@zaynyatyi on that error, I forgot to copy the aar file.

[2016-08-30 10:58] devken-net commented on #27
@zaynyatyi Here is the result when I finished copy the aar file.

[code]

[2016-08-30 11:03] zaynyatyi commented on #27
You have to clean your gradle cache. Don't remember how to do it using gradle command, but you can cleanup your build folder and start again.

[2016-08-30 11:12] devken-net commented on #27
@zaynyatyi after clearing the `.gradle` folder and `build` folders

I got this error:

[code]

[2016-08-30 11:25] devken-net commented on #27
@zaynyatyi I try to rebuild the project.
I clear again the `.gradle` folder and `build` folders

and I got this error again,

[code]

[2016-08-30 11:44] devken-net commented on #27
@zaynyatyi according to [this](http://stackoverflow.com/questions/32798816/unexpected-top-level-exception-com-android-dex-dexexception-multiple-dex-files) it has something to do with `build.gradle`

[2016-08-30 11:46] zaynyatyi commented on #27
@markortiz are you trying new project or your project with some side dependencies?

[2016-08-30 11:49] devken-net commented on #27
@zaynyatyi I'm trying it on a new project

here is my dependencies on `android\app\build.gradle`

[code]

will try to start a new project

[2016-08-30 14:06] zaynyatyi commented on #27
should be fine, i will investigate what's wrong and will back to you when
will have more information.

вт, 30 авг. 2016 г. в 14:49, Makus notifications@github.com:

[2016-09-02 02:07] devken-net commented on #27
@zaynyatyi I have resolved this already.

I it works on a new project that started via `rninit` on build `0.31.0` then `rnpm` install your compiled `react-native-webview-crosswalk' and manually add the android settings.

and also I have wrong configuration on `android/settings.gradle`

instead of

[code]

what I did is

[code]

I will close this already.
Thank you very much for your help.

[2016-09-02 19:17] jordaaash commented on #27
Glad you were able to work this out. Would either of you be interested in submitting a PR for how the documentation should be updated? I'm hoping we can help others who encounter this.

[2016-09-03 07:00] zaynyatyi commented on #27
@markortiz cheers. I still didn't got my win notebook back.
@jordansexton yes, but main goal is to have it fully automated. Including lib copy and rnpm integration. Not sure how it could be done if rn-crosswalk will be side dependency of some other project (lib copy).

[2016-09-05 07:48] devken-net commented on #27
@jordansexton yeah sure, I'll find a time to create a for readme.
@zaynyatyi I think I need to reopen or create a new issue in related on this one.

I thought I was able to solve this issue by doing the steps above, but when I try to apply `react-native-webview-crosswalk` in existing and new project in `windows 10` and then run `react-native run-android` it throws this error:

[code]

But when I t

[2016-09-05 09:24] zaynyatyi commented on #27
open it as separate. i don't what's immersive module about.

[2016-09-07 03:22] joeey1984ad opened #29 "Error:Configuration with name 'default' not found."
Hello, when adding compile project(':RNWebView') to "android/app/build.gradle", I get the following error Error:Configuration with name 'default' not found. I am running Ract Native 0.32, Android SDK 2.1.3, windows 10.
Please help me clarify the issue.

Thanks,
Joe

[2016-09-12 11:08] pewh opened #30 "Any working example?"
I can't figure out how to use react-native-webview-crosswalk, event though I use fresh skeleton generated from RN 0.29, RN 0.30, RN 0.31. Thanks

[2016-09-20 07:51] ryansese opened #31 "no suitable constructor found"
Thanks for this very useful library.  I've been using this library on react-native 0.31 with no problem, but was forced to update to react-native 0.32 due to external dependencies, and I've encountered this error while building my application.

[2016-09-20 07:54] jordaaash commented on #31
The docs are a bit out of date for the latest versions of React Native. I would suggest checking out #27 for possible ways to proceed. This is probably a different error, but the root cause is likely related. Sorry I'm not more help at this time, but I'm not using a recent version of React Native myself!

[2016-09-22 02:28] ryansese commented on #31
I did some additional investigation, and the changes i guess on the React Native Event that might have caused the problem. It's not accepting the parameter timestampMs.

tried update the ff files:

NavigationStateChangeEvent.java

[code]

ErrorEvent.java

[code]

seems to fix the problem. Hope this helps.

[2016-09-28 21:44] jordaaash commented on #31
Fixed by #33. Thanks!

[2016-09-28 21:44] #31 closed

[2016-09-28 21:46] jordaaash commented on #27
@zaynyatyi fixed the documentation in #28 which was just merged (thanks!) so I'm marking this as closed now, but if that's incorrect after updating to the latest version, please reopen and let me know!

[2016-09-28 21:46] #27 closed

[2016-10-12 09:39] markortiz opened #35 "Build Failed: :app:dexDebug FAILED"
I'm having an error upon running `react-native run-android` on `windows10`

here are some logs upon running android:
[code]

here are my dependencies:

[code]

i can't find any definite solution on web and i only encounter this error on `windows` and run smoothly on `ios`

[2016-10-13 10:06] devken-net commented on #35
I think the issue is coming from upon `npm install` I'm getting an error like this:

[code]

The issue is Windows does'nt have `zip` command

[2016-10-19 07:35] devken-net commented on #35
After a tons of trial and error, I resolved this issue by downloading `zip.exe` from here: [http://stahlworks.com/dev/?tool=zipunzip](http://stahlworks.com/dev/?tool=zipunzip)

then put it under my `C:\Program Files\zip`, after that I add it to `System Environment` path.

I just run this on `cmd` with `Run as Administrator` `npm uninstall react-native-webview-crosswalk` then reinstall it by runnin

[2016-10-19 07:40] jordaaash commented on #35
Thanks for your debugging work here, @markortiz. I don't have a Windows machine, so this is a bit tough for me to test. It makes sense that this would fail without `zip` and `unzip` binaries in the path, [because of this](https://github.com/jordansexton/react-native-webview-crosswalk/blob/68324b6375925be55a26a42403b767d34f240b6d/get_library.js#L11-L16).

[2016-10-19 07:42] #35 closed

[2016-10-25 10:43] HimiGame opened #36 "How i support gpu-blacklist"
https://crosswalk-project.org/documentation/about/faq_zh.html#Relationships-with-other-projects

in doc，must add this:
xwalk --ignore-gpu-blacklist

but how i do in rn include your crosswalk

[2016-11-17 09:22] ljspace opened #37 "onActivityResult not callback"
CrosswalkWebView.java

onActivityResult not callback

[code]

[2016-11-18 08:58] jordaaash commented on #37
I think this my have been closed by #38. @dvicory, do you know if this is the case?

[2016-11-18 17:51] dvicory commented on #37
I'm not really sure what you mean by "onActivityResult not callback".

[code]

is a call into `XWalkView`. Though now this method has a path to be called by react-native 0.33+. So I believe what you're describing is fixed.

@ljspace could you provide more details?

[2016-11-20 03:22] ljspace commented on #37
@dvicory
Using the choose Files button on the page, nothing happens after selecting the file.
The `openFileChooser` method is executed but not executed into the `onActivityResult` method.

react: 15.3.2
react-native: 0.36.1
android: HTC  5.0.2
crosswalk: xwalk_core_library-22.52.561.4.aar

[2016-11-21 02:17] ljspace commented on #37
@jordansexton
Thank you very much, according to your revision, the problem has been solved. #38

[2016-11-21 02:17] #37 closed

[2016-11-23 19:57] dvicory commented on #36
Have you tried adding the special `xwalk-command-line` file to `assets/`?

Looks like the contents of the file should be

[code]

See https://crosswalk-project.org/documentation/about/faq.html#Can-I-force-Crosswalk-to-enable-WebGL.

[2016-11-23 19:59] dvicory commented on #30
We're using this and not having any issues - are you having any specific errors?

You do have to be careful to follow the README, `rnpm` won't do anything useful.

[2016-12-14 00:58] thomasdavis opened #41 "iOS Support"
Hey guys, couldn't find a more appropriate place to ask so feel free to close this if it clutters your issues.

Just checking to see if anyone has managed to get cross walk for iOS into RN?

And as a side note, does anyone know if the performance of Crosswalk's implementation of WkWebview is actually more performant? As in, is it just better to rely on the default WkWebview for iOS?

[2016-12-15 07:08] HimiGame commented on #36
thank you very mush

[2016-12-15 07:08] #36 closed

[2016-12-15 08:00] HimiGame opened #42 "clearCacheForSingleFile is not work .and How set cache mode???"
usr play three website'ex: http://xxx.com/gamex.html',

i want remove one cache .so ,i use clearCacheForSingleFile, like this:

clearCacheForSingleFile('http://xxx.com/gamex.html'); ???

it's not work fine~ how i do ,pls help ~ _ ~

btw:
how set cache mode in crosswalk ? tytyty

[2016-12-19 08:38] the-ant opened #43 "npm install react-native-webview-crosswalk will get old version of this repo"
When i run `npm install react-native-webview-crosswalk --save`, i got a old one like [this](https://www.npmjs.com/package/react-native-webview-crosswalk)

It use 18.48.477.13.aar

Now I have to run `npm install git+ssh://git@github.com:jordansexton/react-native-webview-crosswalk.git --save` to use latest one.

[2016-12-19 08:54] the-ant opened #44 "EventPluginHub: More than one plugin attempted to publish the same registration name, onError"
Just like this one https://github.com/inProgress-team/react-native-youtube/issues/6

this is because react native RCTImageViewManager already publishes an event onError

[2016-12-19 18:57] #44 closed

[2016-12-19 19:01] dvicory commented on #41
Under the hood Crosswalk for iOS is just WKWebView so I'd expect the same performance.

Are you looking to get Crosswalk extensions or just want one react-native plugin to rule them all?

FWIW, we're using a forked version of [CRAlpha/react-native-wkwebview](https://github.com/CRAlpha/react-native-wkwebview) with pretty good success.

[2016-12-19 19:02] dvicory commented on #30
Closing, feel free to re-open if you're still having issues.

[2016-12-19 19:02] #30 closed

[2016-12-19 19:02] jordaaash commented on #43
I'll publish a new release that includes 464ddb9fabf9bab541300c688024328684f9fcad today, so it will include the updated version that's the same as the one in the README.

[2016-12-20 04:40] satvikmaker commented on #41
@dvicory So, will you be integrating WKWebView for iOS? So that we can use one component api (react-native-webview-crosswalk) across platforms :)

[2017-01-04 19:49] williamrijksen commented on #43
@jordansexton please fix.

[2017-01-12 09:56] footprint opened #48 "I got a White screen page"
[code]

![qq20170112-0](https://cloud.githubusercontent.com/assets/1246678/21884951/7e230610-d8f0-11e6-94b9-3c5065e1e9b5.png)

[2017-01-12 09:57] footprint commented on #48
01-12 17:52:49.105 7729-7729/com.app6677g I/chromium: [INFO:library_loader_hooks.cc(143)] Chromium logging enabled: level = 0, default verbosity = 0
01-12 17:52:49.107 7729-7729/com.app6677g I/cr_BrowserStartup: Initializing chromium process, singleProcess=true
01-12 17:52:49.209 7729-7729/com.app6677g E/chromium: [ERROR:xwalk_platform_notification_service.cc(143)] Not implemented reached in virtu

[2017-01-12 10:00] footprint commented on #48
console log:

![err](https://cloud.githubusercontent.com/assets/1246678/21885043/edf3114c-d8f0-11e6-9225-737c343a4f55.png)

[2017-01-12 11:05] footprint commented on #48
E/chromium: [ERROR:xwalk_platform_notification_service.cc(143)] Not implemented reached in virtual bool xwalk::XWalkPlatformNotificationService::GetDisplayedPersistentNotifications(content::BrowserContext*, std::__1::set<std::__1::basic_string<char, std::__1::char_traits<char>, std::__1::allocator<char> > >*)
E/chromium: [ERROR:xwalk_browser_context.cc(87)] Failed to read preference, error num: 0

[2017-01-12 16:14] #48 closed

[2017-01-19 15:04] miestr commented on #43
@jordansexton yes please release

[2017-01-19 15:07] williamrijksen opened #49 "Add headers in the source attribute"
In the react native webview it's possible to send a request header as well in the source. Currently only the uri and html are supported in this package.

Let's introduce headers as well to make the `source` attribute more complete 👍

[2017-02-01 21:25] nhayfield commented on #43
@jordansexton please release

[2017-02-06 19:54] nhayfield commented on #49
@williamrijksen agreed its pretty much unusable without headers and other attributes like baseUrl

[2017-02-06 20:03] jordaaash commented on #43
Done! Sorry about that, been away from this project for a bit.

[v0.5.0](https://github.com/jordansexton/react-native-webview-crosswalk/releases/tag/v0.5.0) released and published to npm.

[2017-02-06 20:03] #43 closed

[2017-02-09 21:25] ryan-luas opened #50 "After installing 0.5.0 in our project, build fails with..."
`CrosswalkWebView.java:20: error: cannot find symbol import com.facebook.react.views.webview.events.TopMessageEvent;`

[2017-02-09 21:32] jordaaash commented on #49
Nice :+1:

Yeah, not opposed to this. Out of curiosity, what's your particular use case for sending headers with the request?

[2017-02-09 21:34] jordaaash commented on #50
Thanks for the report. What version of RN are you on?

[2017-02-09 21:36] jordaaash commented on #50
I see https://github.com/facebook/react-native/blob/master/ReactAndroid/src/main/java/com/facebook/react/views/webview/events/TopMessageEvent.java exists on master. It's my belief that 0.5.0 [should work with RN >= 0.32](https://github.com/jordansexton/react-native-webview-crosswalk/blob/6a7df2234a839590c5b719eda3efe63127a8736b/package.json#L42) but I don't know for sure.

[2017-02-09 22:27] ryan-luas commented on #50
`"react-native": "^0.31.0",`

[2017-02-14 02:10] nhayfield commented on #49
@jordansexton  to follow the same api that webview and wkwebview use and use oauth token to access site logged in for example, and to keep logged in on navigation

[2017-02-17 08:46] julesbou opened #51 "CrosswalkWebView documentation"
Excuse my laziness, and sorry to bother you.

I see lot of different options here https://github.com/jordansexton/react-native-webview-crosswalk/blob/master/index.android.js#L47-L54 but can't find related documenation.

I've been looking on crosswalk website and google for a good 20 minutes with success.

Could we include the link of crosswalk api in the readme to help further users?

I'm willing

[2017-04-02 15:24] asafper opened #52 "onLoadEnd"
is there any support to onLoadEnd event ?

[2017-05-11 20:19] tarun29061990 opened #53 "Cannot read property 'PureRenderMixin' of undefined"
After installing App crashes with the following error at line no 7 of index.android.js

"react": "16.0.0-alpha.6",
"react-native": "0.44.0",
"react-native-webview-crosswalk": "^0.5.0"

[2017-05-11 21:12] jordaaash commented on #53
Hi, thanks for the report!

This is because React 0.16 is not supported yet. `PureRenderMixin` has been moved to [`react-addons-pure-render-mixin`](https://www.npmjs.com/package/react-addons-pure-render-mixin) in React 0.16.

I haven't gotten around to updating the project, but in general, it isn't kept up to date for alpha or release candidate builds of React or React Native.

[2017-05-12 03:53] tarun29061990 commented on #53
Can you suggest a workaround?

I have added
`var PureRenderMixin = require('react-addons-pure-render-mixin');` in index.android.js of react-native-webview-crosswalk
and in my js file invoking webview like this
[code]
But my app crashes, please help.

[2017-05-15 23:22] dvicory commented on #41
Sorry, no, I don't think it's worth the time spent. Crosswalk for Android is now formally done, and Crosswalk for iOS hasn't seen any activity in nearly a year. I'd say the best path forward is just trying to present a similar API in terms of props. This has gotten us pretty far.

[2017-05-15 23:22] #41 closed

[2017-05-16 19:49] jordaaash commented on #41
I agree with @dvicory. Since https://github.com/jordansexton/react-native-wkwebview isn't under active development, I'd recommend https://github.com/CRAlpha/react-native-wkwebview or one of the various forks.

Adding support for WKWebView to this project means that you are forced to include code and binaries for both even if you only wanted to support one. Since the underlying webviews and their i

[2017-05-16 19:53] jordaaash commented on #53
For now, you'd have to use React 0.15.x, or modify this library to work with React 0.16.

This library isn't compatible with React 0.16 yet, which is still alpha/pre-release status at this time.

However, I'll leave this issue open, as it's relevant to updating the library to work with React 0.16.

[2017-05-20 16:09] lucasgray commented on #53
react-native 43 and 44 depend on react 16, so we seem to be stuck with that decision.  Updating the library to react 16 is necessary to support the latest released versions of react-native.  Encountered this today and the app hard crashes.  Would love to see a resolution or workaround.  Thanks!

[2017-06-02 10:12] punksta opened #54 "upgrade crosswalk to last version."
last version is:
Stable (23.53.589.4)

[2017-06-08 09:17] Obooman opened #55 "How could I know I'm using origin webview or xwalk webview?"
Great project which really to the point.I want to use crosswalk to support our application web pages.I have done all steps in README.However page event fire frequency keeps slow(touchmove listeners fires only when touch start).

Any suggestions?

[2017-06-09 04:46] Obooman commented on #53
Hi there,due to the upgrade of react native the main `index.android.js` file use different type.Instead of add mixin to component we should create component inherited from `React.PureComponent`

[Demo Gist Here - index.android.js](https://gist.github.com/Obooman/1224546f7a754d446aefb9144764058d.js)

[2017-06-09 04:49] Obooman commented on #55
We have to use `CrosswalkWebView` component instead of `WebView`.I'll glad to send a pr to complete the README guidance. @jordansexton

[code]

[2017-06-09 04:49] #55 closed

[2017-06-11 09:28] punksta commented on #53
https://github.com/punksta/react-native-webview-crosswalk/tree/react-native-0.45
you can use my fork with last react-native. It also has upgraded crosswalk.

[2017-06-12 17:35] coffeeexistence commented on #54
@punksta additionally, even recent versions will crash when typing on html5 input elements. The crosswalk team is aware of the issue but has not (and probably won't, due to recent events) resolve this. I compiled the latest stable version of crosswalk with a patch that resolves this issue. If there's any interest, I can provide the aar file.

[2017-06-13 06:29] punksta commented on #54
@coffeeexistence We faced with that problem too. Our solution is disable spell-check in inputs. Last version also crashes on: long click and double click on input. Both opens context menu(copy, select, past etc). I think better to make pl to crosswalk from public fork than publishing fixed aar.

[2017-06-14 02:38] coffeeexistence commented on #54
@punksta If you are interested in spinning up an ec2 instance and compiling, here's the (still open) [PR](https://github.com/crosswalk-project/chromium-crosswalk/pull/402) that fixed it for me.

[2017-07-05 02:06] m860 commented on #53
same issue

[2017-07-17 19:43] AbbasBourji opened #57 "how I can call xwalk-command-line"
I have question about the file xwalk-command-line, I tried to add the file in many places in the Project, but the code in the file not called. any body can help me please ?

thank you very much

[2017-08-08 12:50] luco commented on #52
+1 on this

[2017-08-08 12:50] luco commented on #51
+1 on this. Documentation is a must on any package.

[2017-09-20 06:10] KingBarbarian opened #58 "Upload photos no reaction"
i use react-native-webview-crosswalk for app,but my web is Reactweb,use upload photos open action bar ok！but after selecting photos no reaction

[2017-10-15 08:43] chachora commented on #52
There is `onLoad` event

[2017-11-24 08:58] m860 commented on #49
+1

[2017-11-24 09:01] jordaaash commented on #49
I don't have a use case for it myself, but I'm happy to accept a PR for this feature.

[2018-01-30 18:16] romanlv opened #59 "Fails to build with React-Native 0.52"
`react-native run-android` gives

[code]

[Demo project](https://github.com/romanlv/react-native-crosswalk-test)

[2018-03-04 07:31] ajRiverav commented on #59
I have the same problem (0.5.0 and RN 0.51.0)

edit: I just downgraded to 0.4.0, and still have the same issue, so it must have been something else. @romanlv can you confirm it happens on 0.4.0 with + your code?

[2018-03-16 13:23] maksimis commented on #59
I have the same problem. What version rnwc, react-native, react i should use?

[2018-04-13 13:51] RafaelHovhannisyan opened #60 "Doesn't work with react-native 0.55.2"
:CrosswalkWebView:incrementalReleaseJavaCompilationSafeguard UP-TO-DATE
:CrosswalkWebView:compileReleaseJavaWithJavac
:CrosswalkWebView:compileReleaseJavaWithJavac - is not incremental (e.g. outputs have changed, no previous execution, etc.).
/Users/user/dev/tests/crosswalk-test/node_modules/react-native-webview-crosswalk/src/main/java/com/jordansexton/react/crosswalk/webview/CrosswalkWebViewPacka

[2018-04-16 07:20] vartana commented on #59
+1

[2018-04-16 15:28] RafaelHovhannisyan commented on #53
+1

[2018-04-16 16:45] romanlv commented on #59
btw, [Android 4.4 (KitKat), the WebView component is based on the Chromium](https://developer.chrome.com/multidevice/webview/overview) so you may not need this implementation at all. It is not the case for iOS, where [wkwebview](https://github.com/CRAlpha/react-native-wkwebview) has much better performance

[2019-07-08 12:35] dgoenka commented on #54
@coffeeexistence , are there any instructions available as to how to compile it? (forgive the noob)

[2021-07-06 14:20] williamrijksen commented on #49
Closing due to inactivity

[2021-07-06 14:20] #49 closed